%p.about-headline
  %em Jugaadoo is an independent film project made with the purpose of inspiring Indian youth.

#about-container.clearfix

  #about-content
    %h2 The Journey

    %p
      Three friends set out on a journey 5,000 miles across India. 2.5 months. These are the stories of the people 
      they met. The method: improvisation. This is where it all
      = link_to "began.", "http://www.kickstarter.com/projects/alexanderodell/alex-colin-and-kumar-go-to-india"


    %h2.extra-margin-top The Vision

    %p
      More than a documentary, this is a project pushing forward with innovation
      to show what innovation is, both abstract and physical. It is minds at work
      searching for ways to improve their communities, whether on a local scale 
      or a much bigger one. Even beyond the actual ideas and inventions and
      organizations highlighted, the documentary and the project are evidence of
      the spirit of the community, the innate desire to be a part of something bigger
      than ourselves. With that comes possibility. We all believe in possibilty and,
      more importantly, want to believe in possibility and a sense of boundlessness.
      That is not to say innovation is some giant movement all the time&mdash;most things
      start small, and if people see the truth and honesty in what is being done, it is sure
      to grow. We learn from each other&mdash;education is an exchange, it is actively
      looking to others for knowledge you don't have; it is not, and cannot be, an
      introverted process.

  #india
    = image_tag "india.png", :width => "450", :height => "464", :alt => "Image of India"


  #meet-the-gang
    = image_tag "about.png", :width => "1000", :height => "263", :alt => "Image of the crew"

