- content_for :head do
  %title Jugaadoo

#featured-content
  = image_tag "splash_image.png", :id => "splash-image", :width => "1000", :height => "663", :alt => "Jugaadoo premiere home image"
  #iframe



#trailer-link
  = link_to "Watch the trailer", trailer_url
